# Ignore everything
# https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html
*

# Only include specific files/directories
!source/
!oas/
!test/
!scripts/set_buffer_size_amqplib.js

!prettierrc.json

!package.json
!startup.sh
!index.js
