# SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
#
# SPDX-License-Identifier: CC0-1.0

# Ignore everything
# https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html
*

# Only include specific files/directories
!source/
!templates/
!scripts/set_buffer_size_amqplib.js

!package.json
!index.js

!test/
!prettierrc.json
