[submodule "simaas_worker"]
	path = simaas_worker
	url = git@github.com:UdSAES/simaas_worker.git
[submodule "asynchronous_api_implementation"]
	path = udsaes_async_queue
	url = git@github.com:UdSAES/udsaes_async_queue.git
