{#
SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
SPDX-License-Identifier: MIT
#}


{
  "allOf": [
    { "$ref": "#/components/schemas/ModelInstance" },
    {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "",
          "required": [
            {% for item in required %}
            "{{ item }}"{% if not loop.last %},
            {% endif%}
            {% endfor %}

          ],
          "properties": {
            {% for item in data %}
            "{{ item.name }}": {
              "type": "object",
              "description": "{{ item.description }}",
              "allOf": [
                { "$ref": "#/components/schemas/unitOfParameter" },
                {
                  "type": "object",
                  "required": ["value"],
                  "properties": {
                    "unit": {
                      "pattern": "^{{ item.unit }}$"
                    },
                    "value": {
                      {% if item.min is defined %}
                      "minimum": {{ item.min }},
                      {% endif %}
                      {% if item.max is defined %}
                      "maximum": {{ item.max }},
                      {% endif %}
                      {% if item.nominal is defined %}
                      "example": {{ item.nominal }},
                      {% endif %}
                      "type": "{{ item.type }}"
                    }
                  }
                }
              ]
            }{% if not loop.last %},
            {% endif%}
          {% endfor %}

          }
        }
      }
    }
  ]
}
