@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

@prefix foaf: <http://xmlns.com/foaf/spec/#> .
@prefix hydra: <http://www.w3.org/ns/hydra/core#> .
@prefix http: <http://www.w3.org/2011/http#> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix qudt: <http://qudt.org/schema/qudt/> .
@prefix unit: <http://qudt.org/vocab/unit/> .

@prefix fmi: <{{ fmi_url }}> .
@prefix sms: <{{ sms_url }}> .
@prefix api: <{{ api_url }}> .

@prefix : <{{ base_url }}{{ base_separator }}> .
@base <{{ base_url }}> .

<#context> {
    <#context> foaf:primaryTopic <> .
    <#context> api:home </> .
    <#context> api:allModels <#controls-get-models> .
}

<#controls> {
    <#controls-get-models> a http:Request ;
        http:methodName "GET" ;
        http:requestURI <> .

    # <#controls-add-model> a http:Request ;
    #     http:methodName "POST" ;
    #     http:requestURI <> ;
    #     http:body ...
    #     http:headers ...
}

{% for model in modelURIs %}
<> api:aModel <{{ model }}> .
{% endfor %}
