{#
SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
SPDX-License-Identifier: MIT
#}


@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

@prefix foaf: <http://xmlns.com/foaf/spec/#> .
@prefix hydra: <http://www.w3.org/ns/hydra/core#> .
@prefix http: <http://www.w3.org/2011/http#> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix qudt: <http://qudt.org/schema/qudt/> .
@prefix unit: <http://qudt.org/vocab/unit/> .

@prefix fmi: <{{ fmi_url }}> .
@prefix sms: <{{ sms_url }}> .
@prefix api: <{{ api_url }}> .

@prefix : <{{ base_url }}{{ base_separator}}> .
@base <{{ base_url }}> .

<#context> {
    <#context> foaf:primaryTopic <> .
    <#context> api:home </> .
    <> rdf:type hydra:Collection ;
    hydra:title "All model instances exposed by the API-instance" .
}

<#controls> {
    <#controls-add-model-instance> a http:Request ;
        http:methodName "POST" ;
        http:requestURI <> ;
        http:headers [
            rdf:type http:RequestHeader ;
            http:fieldName "Content-Type" ;
            http:fieldValue "application/trig" ;
        ] ;
        http:body <#shapes-instantiation> ;
    .
}

<#shapes> {{ '{' }} {{  shapes_graph|safe }} {{ '} ' }}

{% for instance in instanceURIs %}
<{{ instance }}> a sms:ModelInstance .
<{{ instance }}> sms:instanceOf <{{ modelURI }}> .
{% endfor%}
